<div class="container">
  <!-- <div class="blog-slider"> -->
    <div class="col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8">
      <div class="col-lg-12 col-md-12 col-sm-12 blogMore">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 konten-explore">
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 imageKonten" style="background-image:url('assets/img/home/kopi.png');">
            <a href="blog-detail.html"></a>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 post-explore">
            <a href="blog-detail.html">Judul Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate ligula sem, non volutpat felis lobortis sed. Nunc congue id dolor nec ullamcorper. Maecenas vehicula erat non malesuada vestibulum. Praesent nec turpis quis tortor dapibus cursus. Praesent pharetra tincidunt molestie...</p>
            <label class="publish">January 5th, 2016 </label>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 konten-explore">
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 imageKonten" style="background-image:url('assets/img/home/kopi.png');">
            <a href="blog-detail.html"></a>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 post-explore">
            <a href="blog-detail.html">Judul Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate ligula sem, non volutpat felis lobortis sed. Nunc congue id dolor nec ullamcorper. Maecenas vehicula erat non malesuada vestibulum. Praesent nec turpis quis tortor dapibus cursus. Praesent pharetra tincidunt molestie...</p>
            <label class="publish">January 5th, 2016</label>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 konten-explore">
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 imageKonten" style="background-image:url('assets/img/home/kopi.png');">
            <a href="blog-detail.html"></a>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 post-explore">
            <a href="blog-detail.html">Judul Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate ligula sem, non volutpat felis lobortis sed. Nunc congue id dolor nec ullamcorper. Maecenas vehicula erat non malesuada vestibulum. Praesent nec turpis quis tortor dapibus cursus. Praesent pharetra tincidunt molestie...</p>
            <label class="publish">January 5th, 2016</label>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <!-- <a href="blog.html" class="readAll pull-right">Show More</a> -->
      </div>
    </div>
  <!-- </div>         -->
</div>
