<div class="container">
  <!-- <div class="gallery-slider"> -->
    <div class="col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8">
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-box">
        <div class="gallery-content" style="background-image: url(assets/img/home/sliderCenter.png);">
          <div class="transparent"></div>
        </div>
        <div class="konten-gallery">
          <h3><a href="gallery-image-detail.html">Judul Album</a></h3>
          <label class="publish">January 5th, 2016</label> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-box">
        <div class="gallery-content" style="background-image: url(assets/img/home/sliderCenter.png);">
          <div class="transparent"></div>
        </div>
        <div class="konten-gallery">
          <h3><a href="gallery-image-detail.html">Judul Album</a></h3>
          <label class="publish">January 5th, 2016</label> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-box">
        <div class="gallery-content" style="background-image: url(assets/img/home/sliderCenter.png);">
          <div class="transparent"></div>
        </div>
        <div class="konten-gallery">
          <h3><a href="gallery-image-detail.html">Judul Album</a></h3>
          <label class="publish">January 5th, 2016</label> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-box">
        <div class="gallery-content" style="background-image: url(assets/img/home/sliderCenter.png);">
          <div class="transparent"></div>
        </div>
        <div class="konten-gallery">
          <h3><a href="gallery-image-detail.html">Judul Album</a></h3>
          <label class="publish">January 5th, 2016</label> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-box">
        <div class="gallery-content" style="background-image: url(assets/img/home/sliderCenter.png);">
          <div class="transparent"></div>
        </div>
        <div class="konten-gallery">
          <h3><a href="gallery-image-detail.html">Judul Album</a></h3>
          <label class="publish">January 5th, 2016</label> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-box">
        <div class="gallery-content" style="background-image: url(assets/img/home/sliderCenter.png);">
          <div class="transparent"></div>
        </div>
        <div class="konten-gallery">
          <h3><a href="gallery-image-detail.html">Judul Album</a></h3>
          <label class="publish">January 5th, 2016</label> 
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  <!-- </div> -->
</div>
 