
<div class="container">
  <div class="col-lg-3 col-md-3 col-sm-6 schedule-box">
    <div class="scedule-content" style="background-color:#f57fc5;">
        <div class="scedule-info">
          <h3><a href="blog-detail.html" class="practice-docter">Monday - Tuesday, 09.00 / 15.00</a></h3>
          <h3 class="nameRS">rs. Pelita karunia</h3>
          <p>Jalan Panglima Sudirman No.34</p>
        </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 schedule-box">
    <div class="scedule-content" style="background-color:#f359b4;">
        <div class="scedule-info">
          <h3><a href="blog-detail.html" class="practice-docter">Monday - Tuesday, 09.00 / 15.00</a></h3>
          <h3>rs. Pelita karunia</h3>
          <p>Jalan Panglima Sudirman No.34</p>
        </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 schedule-box">
    <div class="scedule-content" style="background-color:#f033a3;">
        <div class="scedule-info">
          <h3><a href="scedule-detail.html" class="practice-docter">Thursday - friday, 07.00 / 11.00</a></h3>
          <h3 class="nameRS">rs. Pelita karunia</h3>
          <p>Jalan Panglima Sudirman No.34</p>
        </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 schedule-box">
    <div class="scedule-content" style="background-color: #ec008c;">
        <div class="scedule-info">
          <h3><a href="blog-detail.html" class="blog-title">Weekend ( by appointment )</a></h3>
          <h3 class="nameRS">rs. Pelita karunia</h3>
          <p>Jalan Panglima Sudirman No.34</p>
        </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>