.image-block {
  text-align: center;
}
#title, #alt {
  text-transform: capitalize;
}
blockquote.meta-image span  {
  margin-bottom: 15px;
  font-size: 12px;
  color: #bbb;
  word-break: break-all;
}
.modal {
  overflow-y: auto!important;
}
.modal-lg {
  width: 1000px!important;
}
.modal iframe {
  border: none;
}