/**
*
* Products: HaiDok-Templates;
* Version: 1.0;
* Name: Alfresco;
* Description: This template is the first template of SaaS Web CMS;
*/
@font-face {
    font-family: bebasNeue;
    src: url(../fonts/Bebas_Neue/BebasNeue.otf);
}
@font-face {
  font-family: calibri;
  src: url(../fonts/calibri/Calibri.ttf);
}
@font-face {
  font-family: quicksand;
  src: url(../fonts/quicksand/Quicksand-Light.otf);
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/google-font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/google-font/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/google-font/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/google-font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
}
/*begin navbar*/
.navbar.template {
  border-radius: 0px;
  background-color: #ec008c;
  height: 90px;
}
a.navbar-brand {
  margin-top: 37px;
  color: #fff;
  letter-spacing: 2px;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

ul.navbar-nav {
  margin-top: 38px;
}
ul.navbar-nav li {
  padding: 0px;
  margin: 0px 20px;
}
ul.navbar-nav li a {
  color: #fff;
  border-bottom: 5px solid transparent;
  padding: 14px 0px;
}
ul.navbar-nav li a:hover, ul.navbar-nav li a:focus, ul.navbar-nav li.active a {
  color: #f6a3cb;
  border-bottom: 3px solid #fff;
}
/*BEGIN HOME */
#home-banner {
  height: 650px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
  margin-top: -20px;
  position: relative;
}
.slider-gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0.9;
  background: -webkit-linear-gradient(#000,#000);
  background: -o-linear-gradient(#000,#000);
  background: -moz-linear-gradient(#000,#000);
  background: linear-gradient(#fff,#000);
}
#home-banner .detailContact {
  height: 350px;
  width: 45%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 8% 6%;
  display: inline-block;
  position: relative;
  z-index: 9;
}
#home-banner .kontenContact {
  margin: 11% auto 121px;
  background-color: #fff;
  height: 350px;
  width: 45%;
  padding: 40px 60px;
  position: absolute;
  right: 7%;
}
/*#home-banner .detailContact {
  height: 350px;
  width: 45%;
  z-index: 9;
  left: 6%;
  top: 6vh;
}
/*#home-banner .kontenContact {
  margin: 40px auto;
  background-color: #fff;
  width: 45%;
  height: auto;
  position: absolute;
  top: 22vh;
  left: 40vw;
  padding: 40px;
}*/
/*#home-banner .kontenContact {
  margin: 40px auto;
  background-color: #fff;
  width: 600px;
  height: 350px;
  position: absolute;
  top: 15vh;
  right: 14%;
  padding: 40px;
}*/
#home-banner a.readAll, a.readAll:hover {
  margin: 50px 0px 0px;
}
.link-info a {
  color: #999;
  text-decoration: underline;
  position: relative;
}
a.blog-title {
   padding-left: 17px;
}
.link-info p {
  position: absolute;
  color: #999;
  top: 64px;
  right: 124px;
}

.scedule-slider {
  background-color: #f5f5f5;
  padding: 40px 0px;
}
.schedule-box {
  margin: 15px auto;
  padding: 0px 13px;
  position: relative;
}
.scedule-content {
  padding: 20px 0px;
  color: #fff;
  width: 100%;
  height: 259px;
  letter-spacing: 1px;
}
.scedule-info {
  padding: 0px 14px;
}
.scedule-info h1 {
  margin: 20px 0px 40px;
  font-size: 34px;
  font-weight: normal;
  text-transform: uppercase;
}
.scedule-info h3 a {
  color: #fff;
  text-decoration: none;
  font-family: bebasNeue;
  font-size: 33px;
  text-transform: uppercase;
}
h3.nameRS {
  text-transform: uppercase;
  font-family: bebasNeue;
  letter-spacing: 3px;
  /* margin: 75px auto 8px; */
  margin: 59px auto 8px;
}
.artikel {
  margin: 50px auto;
}
.blogView {
  margin: 20px auto;
}
.blogView img {
  width: 100%;
  height: 350px;
}
.blogView p {
  font-size: 14px;
  color: #999;
  letter-spacing: 1px;
}
.blogMore {
  padding: 0px 0px 0px 20px;
  /* margin-bottom: 30px; */
}
.loadmore {
  text-align: center;
  margin: 20px auto;
}
.konten-explore {
  margin: 20px 0px;
  margin-bottom: 5px;
  padding: 0px;
  position: relative;
}
button#btnLoad {
  background-color: transparent;
  color: #ec008c;
  padding: 5px 25px;
  border: 1px solid #ec008c;
  border-radius: 20px;
  outline: none;
}
.imageKonten {
  height: 180px;
  width: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.imageKonten a {
  top: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  cursor: pointer;
  color: transparent;
  text-decoration: none;
  right: 0px;
}
.post-explore {
  padding: 0px 0px 0px 20px;
}
.post-explore a {
  color: #333;
  text-transform: uppercase;
  font-size: 19px;
  text-decoration: none;
  font-weight: 500;
}
.post-explore a:hover {
  color:#ff0099;
}
.post-explore p {
  margin: 18px auto;
  color: #999;
}
label.publish {
  color: #333333;
  font-family: calibri;
  font-weight: normal;
}
a.readAll, a.readAll:hover {
  color: #ff0099;
  padding: 10px 20px;
  border: 1px solid #ff0099;
  border-radius: 19px;
  font-size: 14px;
  margin: 30px 0px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-right: 9%;
}
.gallery {
  background-color: #f5f5f5;
  padding: 40px 0px;
}
.gallery-box {
  margin: 15px auto;
}
.gallery-content {
  height: 255px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 999; */
}
#gallery-result .gallery-content {
  height: 213px;
  width: 100%;
}
.transparent {
  position: absolute;
  top: 0px;
  right: 15px;
  bottom: 0px;
  left: 15px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.7;
}
.transparent:hover{
  background-color: #f07ac0;
  z-index: 999;
  
}
/*.gallery-content a {
  top: 0px;
  left: 15px;
  right: 15px;
  bottom: 0px;
  cursor: pointer;
  position: absolute;
  color: transparent;
}*/
/*.gallery-content a:hover {
  background-color:#f07ac0;
  opacity: 0.7;
}*/

/*.konten-gallery {
  position: absolute;
  bottom: 10px;
  left: 36px;
  color: #fff;
}*/
.konten-gallery {
  position: absolute;
  top: 0px;
  right: 15px;
  bottom: 0px;
  left: 15px;
  color: #fff;
  /*background-color: transparent;*/
  /* cursor: pointer; */
}
.konten-gallery:hover{
  background-color: #f07ac0;
  opacity: 0.7;
}
.konten-gallery h3 {
  position: relative;
  /* margin-top: 66%; */
  /* left: 30px; */
  margin-top: 56%;
  /* padding-left: 30px; */
  padding-left: 15px;
  margin-bottom: 0px;
}
.konten-gallery a {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 0px;
  z-index: 9;
  opacity: 1;
}
.konten-gallery label {
  /* margin-left: 30px; */
  padding-left: 15px;
  color: #fff;
  z-index: 9;
  opacity: 1;
}
/*footer*/
.footer {
  background-color: #252525;
  color: #fff;
}
.kontenContact {
  margin: 40px auto;
}
.kontenContact h3 {
  margin-bottom: 25px;
}
p.street {
  margin: 20px auto!important;
  color: #999;
}
.kontenContact p {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
ul.icon-social {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 34px;
}
ul.icon-social li {
  display: inline-block;
  margin-left: 40px;
}
ul.icon-social li a {
  font-size: 24px;
  color: #fff;
}
.kontenSosial {
  text-align: right;
  margin: 58px auto;
  font-size: 10pt;
  font-family: calibri;
  letter-spacing: 1px;
}
/*begin Mystory*/
.description {
  margin: 60px auto;
  color: #999999;
}.description h2 {
  margin-bottom: 60px;
  font-size: 28pt;
  text-transform: uppercase;
  text-decoration: underline;
}
.description p {
  margin-bottom: 50px;
  font-family: calibri;
  font-size: 12pt;
  letter-spacing: 1px;
}
.media-box {
  margin-bottom: 50px;
}
/*begin Blog*/
#blog-result {
  margin-top: -20px;
  background-color: #fafafa;
  padding: 60px 0px;
}
#blog-result .imageKonten {
  height: 220px;
}
#blog-result .konten-explore {
  padding: 20px!important;
  background-color: #fff;
  margin: 10px auto;
}
#blog-result .post-explore p {
  color: #999;
}
/*begin gallery*/
#gallery-result {
  margin: -20px auto 0px;
}
span.camera {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #fff;
  font-size: 24px;
}
/*begin Blogdetail*/
#blog-detail {
  background-color: #fafafa;
}
#blog-detail p {
  color: #999999;
  margin-bottom: 20px;
}
/*.blog-header {
  font-family: bebasNeue;
}*/
.blog-header h1 {
  margin-top: 75px;
  margin-bottom: 37px;
  letter-spacing: 3px;
}
.blog-header label {
  margin-bottom: 35px;
}
.blog-header label {
  margin-bottom: 35px;
  font-family: calibri;
  font-weight: 100;
}
.ads {
  margin: 35px auto;
  column-count: 2;
}
ul.icon-share {
  padding-left: 0;
  list-style: none;
  text-align: left;
  /*margin: 35px auto;*/
}
ul.icon-share li {
  display: inline-block;
  margin: 60px 5% 30px 0%;
}
ul.icon-share li a {
  padding: 8px 15px;
  color:#fff;
}
ul.icon-share li a:hover {
  text-decoration: none;
}
ul.icon-share li a.facebook {
  border: 1px solid #2e3192;
  background-color: #2e3192;
}
/*ul.icon-share li a.facebook:hover {
  color: #fff;
  background-color:#3b5999;
}*/
ul.icon-share li a.twitter {
  background-color: #00aeef;
  border: 1px solid #00aeef;
}
/*ul.icon-share li a.twitter:hover {
  color: #fff;
  background-color: #59caf6;
}*/
ul.icon-share li a.gplus {
  background-color: #ed1c24;
  border: 1px solid #ed1c24;
}
/*ul.icon-share li a.gplus:hover {
  color: #fff;
  background-color:#dd4c39;
}*/
ul.icon-share li a.copyLink {
  background-color: #898989;
  border: 1px solid #898989;
}
/*ul.icon-share li a.copyLink:hover {
  color: #fff;
  background-color: #898989;
}*/
.comments-box {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.comment-info label {
  margin-left: -15px;
  margin-bottom: 30px;
}
.comments-box ul.comment-lists {
  list-style: none;
  margin-bottom: 90px;
  padding-left: 0px;
  width: 72%;
}
.comments-box ul.comment-lists li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.comments-box ul.comment-lists li img {
  width: 70px;
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 15px;
}
.comments-box ul.comment-lists li .comment-detail {
  display: inline-block;
  margin-top: -85px;
  margin-left: 90px;
}
.comments-box ul.comment-lists li .comment-detail span {
  font-family: quicksand;
}
a.commentAll {
  margin-top: -20px;
  letter-spacing: 1px;
  color: #ff66ff;
}
.comment-name {
  text-transform: capitalize;
  color: #666;
  font-size: 24px;
}
.comment-form {
  padding: 30px;
  background-color: #ebebeb;
  width: 72%;
  border-radius: 20px;
  margin: 20px 0px 60px;
}
.text-name {
  padding-left: 0px;
}
.text-email {
  padding-right: 0px;
}
.comment-form textarea {
  resize: none;
}
.button-wrapper {
  text-align: right;
}
.btn-comment {
  background-color: #ff66cc;
  color: #fff;
  padding: 7px 30px;
  border-radius: 5px;
  margin: 30px auto;
}
/*gallery Detail*/
#gallery-detail {
  margin: -22px auto;
  background-color: #fafafa;
  padding: 60px 0px;
}
.blog-header {
  padding: 0px 20%;
  text-align: center;
}
h3.blog-title {
  font-family: bebasNeue;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#gallery-detail .blog-header label {
  margin-right: 40px;
}
#gallery-detail .media-box {
  margin-top: 60px;
}
.gallery-box a {
  letter-spacing: 1px;
}
#gallery-detail a.thumbnail {
  width: 255px;
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 0px;
}
/*#gallery-detail .media-box a {
  padding: 0px 5px;
  margin: 5px -10px;
  border-radius: 0px;
}*/
/*.comments-box ul.comment-lists li .comment-detail {
  margin-top: -58px!important;
}*/
#gallery-detail .media-box a {
  padding: 0px 0px;
  margin: 15px auto;
  border-radius: 0px;
}
#gallery-detail .thumbnail {
  height: 308px;
  width: 100%;
}
/*begin schedule*/
#schedule-result {
  margin-top: -20px;
}
/*begin contact*/
.page-description {
  margin: -20px auto 0px;
  background-color: #fafafa;
  padding: 60px 0px 9%;
}
#contact .detailContact {
  height: 250px;
  width: 54%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 0% 8%;
  display: inline-block;
  position: relative;
  z-index: 9;
}
#contact .kontenContact {
  margin: 13% auto 121px;
  background-color: #fff;
  /* height: 250px; */
  width: 45%;
  padding: 5px 35px;
  position: absolute;
  right: 3%;
}
.showme {
  margin: 20px auto;
  font-family: cali;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.showme a {
  color: #ec008c;
  text-decoration: none;
}
/*#contact .kontenContact {
  margin: 40px auto;
  background-color: #fff;
   width: 54%;
  padding: 30px 65px;
  left: 46%;
  top: 52px;
  z-index: 0;
}*/
/*.detailContact {
  height: 200px;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px 0px;
  display: inline-block;
  position: absolute;
  z-index: 9;
}*/
.contact-form {
  padding: 30px;
  background-color: #fff;
}
.contact-form h4 {
  text-align: center;
  text-decoration: underline;
  font-size: 24px;
  color: #999;
  margin: 20px 0px 30px;
}
/*.contact-form h4 {
    margin: 20px 0px 30px;
}*/
.contact-form form input, .contact-form form textarea {
  background-color: #f5f5f5;
  border-radius: 0px;
  resize: none;
}
.btn-contact {
  background-color: #ec008c;
  color: #fff;
  padding: 10px 40px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #home-banner .detailContact {
    margin: 10% 1%;
  }
  #home-banner .kontenContact {
    margin: 19% auto;
    background-color: #fff;
    height: 350px;
    width: 55%;
    padding: 15px 15px;
    position: absolute;
    right: 0%;
  }
}
@media (max-width: 767px) {
  .navbar.template {
    height: auto; 
  }
  #navbar-collapse {
    background-color: #fff;
    position: absolute;
    z-index: 99;
    right: 0px;
    width: 200px;
  }
  ul.navbar-nav li a {
    padding: 14px 15px;
  }
  .navbar-header button {
    font-size: 24px;
    margin-top: 12px;
    margin-right: 8px;
    float: right;
    color: #fff;
    background-color: transparent;
    border: none;
  }
  ul.navbar-nav li a {
    color: #ec008c;
    text-align: right;
  }
  a.navbar-brand {
    margin-top:0px; 
  }
  #home-banner {
    height: 515px;
  }
  #home-banner .detailContact {
    height: 31vh;
    width: 87%;
    left: -14px;
    top: 10px;
    position: relative;
    margin: 0px;
  }
  #home-banner .kontenContact {
    margin: 0px auto;
    width: 90%;
    top: 84%;
    /* left: 30px; */
    padding: 33px 15px;
    height: auto;
  }
   #home-banner .kontenContact h3 {
    margin-bottom: 25px;
    text-decoration: underline;
    font-family: bebasNeue;
  }
  .title-schedule {
    text-align: right;
    color: #999;
    margin-bottom: 0px;
    font-family: bebasNeue;
    letter-spacing: 2px;
  }
  .title-schedule h3 {
    margin-bottom: 0px;
  }
  .scedule-info h3 a {
    font-size: 22px;
    letter-spacing: 1px;
  }
  h3.nameRS {
    margin: 55px auto 8px;
    font-size: 21px;
    letter-spacing: 0.5px;
  }
  .title-schedule a {
    text-decoration: underline;
    color: #999;
  }
  .kontenContact p {
    margin-bottom: 20px;
    letter-spacing: 0px; 
  }
  .scedule-info {
    padding: 0px 37px;
  }
  .blogView h2 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;
  }
  #home-banner a.readAll, a.readAll:hover {
    margin: 15px 74px;
  }
  .imageKonten {
    height: 103px;
    width: 103px;
  }
  .post-explore a {
    font-size: 17px;
  }
  .post-explore label {
    margin-top: 20px;
  }
  .konten-explore h5{
    text-align: center;
  }
  a.readAll {
    float: none!important;
    margin-right: 0%;
  }
  .gallery-content {
    height: 135px;
    position: relative;
  }
  .konten-gallery {
    position: relative;
  }
  .konten-gallery:hover {
    background-color:transparent;
  }
  .konten-gallery h3 {
    position: relative;
    margin-top: 5px;
    left: 0px;
    margin-bottom: 0px;
    font-size: 18px;
  }
  .konten-gallery a {
    color: #333;
  }
  .konten-gallery label {
    margin-left: 30px;
    color: #333;
    z-index: 9;
    margin-left: 0px;
  }
  .footer .kontenContact {
    margin: 40px 38px;
    text-align: center;
  }
  .kontenContact a {
    background-color: #ff0099;
    padding: 10px 19px;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
  }
  .kontenSosial {
    text-align: center;
    margin: 29px auto; 
  }
  ul.icon-social {
    margin-bottom: 15px;
  }
  ul.icon-social li {
    margin: 0px 20px;
  }
  /*begin story*/
  .description {
    margin: 20px auto;
    color: #999999;
  }
  .description h2 {
    margin-bottom: 40px;
    font-size: 16pt;
    line-height: 30px;
  }
  /*.description p {
    font-family: calibri;
    font-size: 12pt;
  }*/
  /*begin Blog*/
  #blog-result {
    padding: 0px 0px;
  }
  h3.title {
    text-align: right;
    color: #999;
    text-decoration: underline;
    margin: 30px auto;
  }
  .blogMore {
    padding: 0px 0px 0px 0px;
  }
  .blogMore h5 {
    text-align: center;
    margin: 31px auto 20px;
  }
  #blog-result .imageKonten {
    height: 206px;
    width: 100%;
  }
 /* #blog-result .konten-gallery {
    position: absolute;
  }*/
  #blog-result .post-explore {
    padding: 20px 0px;
  }
  /*blogDetail*/
  #blog-detail {
    background-color: #fff; 
  }
  #blog-detail .blog-header h1 {
    margin-top: 28px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 23px;
    text-align: left;
  }
    #blog-detail .blog-header {
    text-align: left;
  }
  .ads {
    column-count: 1;
    margin: 15px auto;
  }
  .ads img {
    margin: 20px auto;
  }
  ul.icon-share {
    text-align: center;
    margin: 40px auto;
  }
  ul.icon-share li {
    margin: 7px 0px 20px 0px;
  }
  /*ul.icon-share li a {
    padding: 8px 30px;
    margin: 0px 3px;
  }*/
  ul.icon-share li a {
    padding: 8px 30px;
    margin: 0px 7px 0px 5px;
  }
  ul.icon-share li a.twitter {
    padding: 8px 37px;
  }
  ul.icon-share li a.gplus {
    padding: 8px 31px;
  }
  .comments-box ul.comment-lists {
    width: 100%; 
  }
  .comment-form {
    width: 100%;
    border-radius: 0px;
    margin: 20px 0px 60px;
  }
  .comment-form form input, .comment-form form textarea {
    border-radius: 0px;
  }
  .text-name {
    padding: 0px;
  }
  .text-email {
    padding: 0px;
  }
  .button-wrapper {
    text-align: center;
  }
  /*Begin Gallery*/
  #gallery-result .gallery-box {
    padding: 0px;
  }
  .gallery {
    padding: 0px 0px; 
  }
  #gallery-result .gallery-content {
    height: 300px;
    position: relative;
  }
  #gallery-result .konten-gallery {
    position: absolute;
  }
  .transparent {
    background-color: #f07ac0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    opacity: 0.7;
  }
  /*.transparent:hover{
    background-color: #f07ac0;
    z-index: 999;
    
  }*/
  #gallery-result .konten-gallery a {
     color: #fff; 
  }
  #gallery-result .konten-gallery h3 {
    position: relative;
    margin-top: 66%;
    left: 0px;
  }
  #gallery-result .konten-gallery {
    left: 15px;
  }
  #gallery-result .konten-gallery label {
    color: #fff;
  }
  /*.transparent {
    background-color: #f07ac0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    opacity: 0.7;
  }*/
  /*gallery detail*/
  .blog-header {
    padding: 0px 5px;
  }
  .blog-header p {
    text-align: justify;
  }
  h3.blog-title {
    letter-spacing: 0px; 
  }
  #gallery-detail a.thumbnail {
    height: 90px;
    width: 90px
  }
  /*begin schedult*/
   #schedule-result .scedule-slider {
    padding: 0px!important; 
    margin-top: -20px;
  }
  /*begin contact*/
  .page-description {
    padding: 0px 0px 0%;
  }
  #contact .detailContact {
    width: 85%;
    margin: 0px;
    display: block;
    position: relative;
  }
  #contact .kontenContact {
    margin: 0px auto;
    width: 93%;
    padding: 15px 25px;
    left: 15px;
    top: -17px;
    position: relative;
  }
  #contact .kontenContact a {
    background-color: transparent;
    color: #ff80a9;
    padding:0px;
  }
  .contact-form h4 {
    margin: 20px 0px 30px;
  }
  .btn-contact {
    float: none!important;
  }
}
.blogView a {
  color: #000000; 
  text-decoration: none;
}
.blogView a:hover {
  color: #ff0099;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #f6a5cc;
}