/**
*
* Products: HaiDok-Templates;
* Version: 1.0;
* Name: Alfresco;
* Description: This template is the first template of SaaS Web CMS;
*/
@font-face {
    font-family: abeatbyKai;
    src: url(../fonts/abeatbyKai.ttf);
}
@font-face {
  font-family: quicksandbold;
  src: url(../fonts/quicksand-bold.otf);
}
@font-face {
  font-family: quicksand;
  src: url(../fonts/Quicksand-regular.otf);
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/google-font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/google-font/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/google-font/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/google-font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  font-family: abeatbykai;
}

/* Begin Progress Bar Transition */
#hidden {display:none}
#progress-bar {position:fixed;z-index:9999;top:0;left:0;width:0;height:4px;background-color:#4aa6e7}
#loading {position:fixed;z-index:999;top:0;left:0;width:100%;height:100%;background:#000 center no-repeat}
/* End Progress Bar Transition */

/* Begin Logo */
.navbar-brand, .navbar-brand:hover {
  font-family: abeatbyKai ;
  color: #fff;
  font-size: 18px;
  margin-top: 5px;
  letter-spacing: 1px;
}
/* Begin Menu Navigation */
.navbar {
  min-height: 60px;
  margin-bottom: 0;
  z-index: 9;
  background-color: #7f7f7f;
  border-radius: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  /*opacity: 0.5;*/
}
ul.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
ul.navbar-nav li a {
  color: #fff;
  padding: 0;
  margin: 20px 25px;
}
ul.navbar-nav li.active {
  background-color: #333;
}
ul.navbar-nav li a:hover {
  background-color: transparent;
}
ul.navbar-nav li.active a {
  font-family: abeatbyKai;
}
.nav-border-bottom {
  border-bottom: 1px solid #ddd;
  background-color: #7f7f7f;
  border-radius: 0px;
  
}
@media (max-width: 767px) {
  /*button.navbar-toggle {
    margin-right: 50px;
  }*/
  .navbar-header, .navbar-header:focus {
    background-color: #747570;
    outline: none;
  }
  ul.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #2d2d2d;
    opacity: 0.9;
  }
  .navbar-toggle .icon-bar {
    background-color: #d6d6d6;
  }
  ul.navbar-nav li {
    text-align: right;
  }
  ul.navbar-nav li a {
    margin: 0;
    padding: 15px 25px;
  }
}
/* End Menu Navigation */

/* Begin Footer */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2C2C2C;
}
.copyright {
  float: right;
  font-family: montserrat;
  color: #CCCCCC;
  font-size: 12px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .copyright {
    text-align: center;
    float: none;
  }
}
/* End Footer */

/* Begin Home */
#home-banner {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -82px;
  background-position: center;
}
.slogan-banner {
  position: absolute;
  left: 15vw;
  top: 30vh;
  width: 24vw;
  color: #fff;
}
.slogan-banner h1 a {
  margin: 8px auto 30px;
  color: #fff;
  text-decoration:none;
}
.artikelMore {
  border-top: 1px solid #fff;
  padding-top: 20px;
}
.artikelMore p {
    color: #fff;
    margin-bottom: 48px;
}
.artikelMore a, .artikelMore a:hover {
  padding: 10px 30px;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: 1.5px;
  text-decoration: none;
}
h3.title-box {
  margin: 40px auto;
  text-align: center;
  border-bottom: 1px solid #333;
  width: 125px;
}
.blog-slider .lazy {
  margin: 40px auto;
}
h2.subtitle {
  text-align: center;
}
button.slick-next, button.slick-prev {
  display: none!important;
}
.slick-prev {
  /*left: 0px!important;*/
  top: 62%!important;
}
.slick-next {
  /*right: -22px!important;*/
  top: 62%!important;
}
.mySchedule {
  background-color: #191919!important;
  padding: 40px 0px!important;
  position: relative;
}
.mySchedule h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  opacity: 0.3;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.mySchedule h3 a, .mySchedule h3 a:hover {
  text-decoration: none;
  color: #fff;
}
.blog-slider {
  position: relative;
}
.blog-slider a.linkredirects span {
  top: 30vh;
}
.blog-slider .blog-content {
  height: 53vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 15px;
}
.blog-slider .blog-info {
  padding-left: 15px;
  position: absolute;
  top: 62%;
  background-color: #6e6763;
  bottom: 0px;
  left: 15px;
  right: 15px;
  opacity: 0.9;
  overflow: hidden;
  transition: top 0.5s ease;
}
.blog-slider .blog-content .blog-publish {
  font-size: 12px;
  position: absolute;
  left: 25px;
  color: #fff;
  letter-spacing: 1.5px;
  bottom: 6px;
  background-color: transparent;
  padding: 5px 15px;
  width: 92%;
}
#home .gallery-content img {
  width: 100%;
  height: 37vh;
  padding: 0px 15px;
}
#home .konten-schedule {
  padding: 30px;
  box-shadow: none;
  position: absolute;
  top: 0px;
  left: 15px;
  right: 15px;
  bottom: 0px;
  opacity: 1;
  outline: none;
  background-color: #000;
  opacity: 0.7;
}
/*#home .konten-schedule {
  padding: 30px;
  box-shadow: none;
  position: absolute;
  top: 0px;
  left: 15px;
  right: 0px;
  bottom: 0px;
  opacity: 1;
  outline: none;
}*/
/*#home .gallery-box:hover .konten-schedule  {
  top:100%;
}*/
#home .konten-schedule h3, #home .konten-schedule p, #home .konten-schedule span {
  color: #fff;
  opacity: 1;
  text-align: left;

}
.konten-schedule .direction a {
  color: #fff;
  font-size: 25px;
  position: absolute;
  right: 35px;
  bottom: 0px;
  outline: none;
}
a.linkredirects span {
  font-size: 25px;
  background-color: #363636;
  color: #fff;
  padding: 2px 11px;
  border-radius: 20px;
  position: absolute;
  top: 59%;
}
.kontenContact {
  text-align: center;
  background-color: #d7d7d7;
  padding: 40px 40px;
  margin: 40px auto;
  display: block;
  width: 390px;
}
.kontenContact h3 {
  font-family: quicksand-bold;
}
h3.nameDok {
  font-family: quicksand;
}
.kontenContact p {
  text-align: left;
  margin-bottom: 3px!important;
  padding-left: 55px;
}
.kontenContact h5 {
  margin-top: 30px;
}
a.konsultasi {
  padding: 10px 89px;
  background-color: #333;
  color: #fff;
  letter-spacing: 1.5px;
  text-decoration: none;
}
@media (max-width: 767px) {
  body {
    height: 100%;
  }
  .slogan-banner {
    top: 40vh;
    width: 56vw;
  }
  .slogan-banner h1 {
    font-size: 16px;
    line-height: 27px;
    margin: 2px auto;
  }
  .blog-slider .blog-info {
   top: 58%;
  }
  #home .gallery-content img {
    width: 100%;
    height: 50vh;
  }
  .blog-content img {
    width: 100%;
    height: 50vh;
  }
  .blog-info h3 {
    text-align: left;
    font-size: 17px;
    margin: 11px auto;
  }
  .blog-content .blog-publish {
    width: 91%!important;
  }
  .kontenContact {
    width: 100%;
  }
 /*.blog-slider .blog-info {
    top: 55%;
  }
  .blog-slider .blog-content .blog-publish {
    left: 25px;
  }*/
  /*.slick-prev:before, .slick-next:before {
    color: #ccc!important;
  }
  .slick-next  {
    right: -10px!important;
  }
  .slick-prev {
    left: -10px!important;
  }*/
}
/* End Home */

/* Begin MyStory */
.img-label {
  position: fixed;
  width: 31%;
  height: 100vh;
}
.text-label {
  position: relative;
  float: right;
}
.text-label a {
  text-decoration: none;
  color: #333!important;
  padding-right: 23%;
}
.ads img {
  margin: 45px auto;
  width: 55%;
}

@media (min-width: 768px) and (max-width: 850px)  {
  .img-label {
    position: fixed;
    width: 48%;
    height: 100vh;
  }
}
@media (min-width: 768px) {
  .page-description {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .page-description {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
  }
  .img-label {
    position: relative;
    width: 100%;
    height: 40vh;
  }
  .kontenContact {
    text-align: left;
    background-color: #fff; 
    padding:0px; 
    margin: 40px auto;
    display: block;
  }
  .kontenContact p {
    text-align: left;
    margin-bottom: 3px!important;
    padding-left: 0px; 
  }
  .kontenContact h5 {
    margin-top: 30px;
    margin: 26px auto;
  }
  a.konsultasi {
    padding: 10px 127px;
    background-color: #333;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
  }
}
/* End MyStory */

/* Begin Blog */
.blog-box {
  margin-bottom: 50px;
  position: relative;
}
.blog-content img {
  width: 100%;
  height: 53vh;
}
.blog-info {
  padding-left: 15px;
  position: absolute;
  top: 60%;
  background-color: #6e6763;
  bottom: 0px;
  left: 15px;
  right: 15px;
  opacity: 0.9;
  overflow: hidden;
  transition: top 0.5s ease;
}
.blog-content a, .blog-content a:hover {
  display: block;
  color: #fff;
  text-decoration: none;
  font-family: Myriad Pro;
  letter-spacing: 1px;
  padding-right: 22%;
  padding-left: 10px;
}
.blog-info h3 a {
  line-height: 26px;
  font-size: 21px;
}
.blog-content:hover .blog-info {
  top: 0px;
}
.blog-content:hover .blog-info p {
  color:#fff!important;
}
.blog-info p {
  color: transparent;
  padding: 5px 33px 0px 9px;
}
.blog-content .blog-publish {
  font-size: 12px;
  position: absolute;
  left: 37px;
  color: #fff;
  letter-spacing: 1.5px;
  bottom: 0px;
  padding: 5px 15px;
  width: 80%;
}
.blog-content span {
  margin-right: 15px;
  color:#fff;  
}
@media (max-width: 767px) {
  .blog-box .blog-content img {
    margin: auto;
  }
  .blog-header h1 {
    font-size: 20px!important;
    padding-right: 5%!important;
    margin: 33px auto;
  }
  .ads img {
    margin: 20px auto;
    width: 98%;
  }
  ul.icon-share li {
    margin: 0px 20px 30px 0px!important;
  }
  .comments-box ul.comment-lists {
    margin-bottom: 50px;
  }
  .comment-form {
    width: 95%!important;
  }
}
/*Detail Blog*/
.blog-header {
  border-bottom: 1px solid #555;
  margin-bottom: 30px;
}
.blog-header h1 {
  font-size: 31px;
  padding-right: 44%;
  margin: 33px auto;
}
label.blog-publish {
  color: #999;
}
/* End Blog */

/* Begin Gallery */
.gallery-box {
  margin-bottom: 0px;
  position: relative;
  padding:1px;
}
.gallery-content img {
  width: 100%;
  height: 31vh;
}
.gallery-info {
  padding-left: 20px;
  padding-right: 15px;
  position: absolute;
  top: 100%;
  background-color: #6e6763;
  bottom: 0px;
  opacity: 0.9;
  overflow: hidden;
  transition: top 0.5s ease;
  right: 1px;
  left: 1px;
}
.gallery-content:hover .gallery-info {
  top: 0px;
}
.gallery-info a, .gallery-info a:hover {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
}
.gallery-content .gallery-publish {
  font-size: 12px;
  position: absolute;
  letter-spacing: 1.5px;
  bottom: 0px;
  padding: 5px 0px;
  color: #fff;
  width: 96%;
}
.gallery-content span {
  margin-right: 25px;
  color: #fff;
}
/*Detail Gallery*/
.gallery-header {
  text-align: center;
}
.detail-info {
  margin-top: 50px;
  margin-bottom: 50px;
}
.detail-info span {
  margin-left: 53px;
}

/* End Gallery */

/* Begin Schedule */
#schedule-result {
  padding: 0px 15px;
}
.konten-schedule span {
  margin-right: 25px;
  color: #333;
}
.scehdule-box {
  padding: 0px 24px 0px 0px;
  margin: 20px auto;
}
.schedule-content {
  height: 39vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}
.direction {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: top 0.5s ease;
  background-color: transparent;
  position: absolute;
}
#schedule-result .schedule-content:hover .direction {
  background-color: #000;
  opacity: 0.7;
}
#schedule-result .schedule-content .direction a {
  color: transparent;
  position: absolute;
  bottom: 0px;
  right: 5px;
}
#schedule-result .schedule-content:hover .direction a {
  color: #fff;
}
.konten-schedule {
  padding: 30px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

@media (max-width: 767px) {
  #gallery-result {
    padding: 0px 15px;
  }
  .scehdule-box {
    padding: 0px 0px 0px 0px;
  }
  .gallery-info a h3 {
    font-size: 18px;
  }
  .gallery-content .gallery-publish {
    font-size: 9px;
    letter-spacing: 0.5px;
  }
}
/* End Schedule */

/* Begin Contact */
.contact-box .kontenContact {
  text-align: center;
  background-color: #d7d7d7;
  padding: 40px 20px;
  margin: 0px!important;
  display: block;
  width: 320px;
}
.contact-form {
  width: 36%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 15px;
}
.contact-box {
  height: 69vh;
}
@media (max-width: 767px) {
  .contact-box .kontenContact {
    text-align: left; 
    background-color: #fff; 
    padding: 40px 0px; 
  }
  .contact-form {
    width: 88%;
    padding: 30px;
    border-radius: 15px;
    margin: 20px 15px 75px 15px;
  }
}

/* End Contact */

/* Begin Comments */
span.comment-total {
  position: absolute;
  top: 0px;
  right: 15px;
}
.comments-box .comment-info {
  margin-bottom: 30px;
  background-color: #4c4c4c;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: quicksand;
}
.button-wrapper {
  text-align: center;
}
.comments-box .btn-comment {
  padding: 5px 35px;
  border-radius: 0;
  background-color: #8a8a8a;
  letter-spacing: 1px;
  color: #1e1e1e;
}
.comment-form {
  padding: 30px;
  background-color: #ebebeb;
  width: 72%;
  border-radius: 20px;
  margin: 20px auto 60px;
}
.comments-box ul.comment-lists {
  padding-left: 30px;
  list-style: none;
  margin-bottom: 90px;
}
.comments-box ul.comment-lists li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.comments-box ul.comment-lists li img {
  width: 70px;
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 15px;
}
.comments-box ul.comment-lists li .comment-detail {
  display: inline-block;
  margin-top: -85px;
  margin-left: 90px;
}
.comments-box ul.comment-lists li .comment-detail span {
  font-family: quicksand;
}
.comment-name {
  text-transform: capitalize;
  color: #666;
  font-size: 24px;
}
/* End Comments */

/* Begin Social Media Icon */
/* Begin Footer Icon */
ul.icon-social {
  padding-left: 0px;
}
ul.icon-social li {
  display: inline;
  font-size: 26px;
  margin-right: 36px;
}
ul.icon-social li a {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  ul.icon-social {
    text-align: center;
  }
}
/* End Footer Icon */
/* Begin Contact Icon */
.icon-social-contact {
  list-style: none;
  padding-left: 0;
}
ul.icon-social-contact li {
  display: inline-block;
  margin-right: 15px;
}
ul.icon-social-contact li a:hover {
  background-color: #0461c8;
  color: #ffffff;
  border: 1px solid #0461c8;
}
ul.icon-social-contact li a {
  font-size: 23px;
  color: #cfd0d2;
  border: 1px solid #ddd;
  padding: 4px 8px;
  border-radius: 20px;
}
/* End Contact Icon */
/* Begin Share Icon */
ul.icon-share {
  padding-left: 0;
  list-style: none;
  text-align: left;
  margin: 35px auto;
}
ul.icon-share li {
  display: inline-block;
  margin: 0px 30px 0px 0px;
}
ul.icon-share li a {
  padding: 8px 15px;
}
ul.icon-share li a:hover {
  text-decoration: none;
}
ul.icon-share li a.facebook {
  color: #3b5999;
  border: 1px solid #3b5999;
  letter-spacing: 2px;
}
ul.icon-share li a.facebook:hover {
  color: #fff;
  background-color:#3b5999;
}
ul.icon-share li a.twitter {
  color: #59caf6;
  border: 1px solid #59caf6;
  letter-spacing: 2px;
}
ul.icon-share li a.twitter:hover {
  color: #fff;
  background-color: #59caf6;
}
ul.icon-share li a.gplus {
  color: #dd4c39;
  border: 1px solid #dd4c39;
  letter-spacing: 2px;
}
ul.icon-share li a.gplus:hover {
  color: #fff;
  background-color:#dd4c39;
}
ul.icon-share li a.copyLink {
  color: #898989;
  border: 1px solid #898989;
  letter-spacing: 2px;
}
ul.icon-share li a.copyLink:hover {
  color: #fff;
  background-color: #898989;
}
/* End Share Icon */
/* End Social Media Icon */

 /*Begin Slider Content */
#myCarousel {
  margin-top: 15px;
  margin-bottom: 15px;
}
#myCarousel .left {
  top: 95%;
  left: 80%;
}
#myCarousel .right {
  top: 95%;
  left: 90%;
}
@media (max-width: 767px) {
  #myCarousel .left {
    top: 80%;
    left: 70%;
  }
  #myCarousel .right {
    top: 80%;
    left: 85%;
  }
  ul.icon-share li a.twitter {
    color: #59caf6;
    border: 1px solid #59caf6;
    letter-spacing: 2px;
    padding: 8px 28px;
  }
}
/* End Slider Content */

/*remove gradient on left-right*/
.carousel-control.left {
  /*position: relative;*/
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  /*position: relative;*/
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  background-repeat: repeat-x;
}


/* Begin Miscellaneous */
p {
  font-family: quicksand;
  color: #333;
}
.form-control {
  border-radius: 0px!important;
}
textarea {
  resize: none;
}
.loading-info {
  text-align: center;
}
.loading-info img {
  width: 50px;
  margin-bottom: 30px;
}
/* End Miscellaneous */